@import url("style/header.css");

body {
    background-color: bisque;
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(52, 156, 197);
}

.h2 {

    color:rgb(42, 165, 165);
   
}